* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // border: 2px red solid;
  }
  
  html,
  body {
    height: 100%;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-bottom: 16px;
  }
  @font-face {
    font-family: Proxima;
    src: url(fonts/Proxima-Nova-Thin.otf);
  }
  @font-face {
    font-family: Gill;
    src: url(fonts/GillSans.ttf);
  }
  